<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/signup" method="post">
<input type="text" name="username" placeholder="Enter your name" />
<input type="text" name="email" placeholder="Enter your email" />
<input type="submit" value="Submit" />
</form>
