<h1 class="title">Acebook Bumblebees</h1>
<p>Welcome to Acebook Bumblebees</p>

<form action="/search" method="post" id="search">
<input type="text" name="keywords" />
<input type="submit" value="submit" />
</form>

{{#if foundUsers}}
	<ul id="search-results">
		{{#each foundUsers}}
			<li> 
				<p>User: {{this.username}} </p>
				<p>Joined at: {{this.createdAt}}</p>
			</li>
		{{/each}}
	</ul>
{{/if}}
