<div class="signup">
	<p style="color: blue;">Sign up</p>
	{{error}}
	<form action="/new" method="post" id="new-user">
		<input type="text" name="username" placeholder="Enter your name" required />

		<input type="email" name="email" placeholder="Enter your email" required/>

		<input type="password" name="password"
		placeholder="Create password" required/>

		<input type="submit" value="Submit" />
	</form>
</div>

{{#if errorMessage}}
<p> {{errorMessage}} </p>
{{/if}}
