<div class="signup">
	<p style="color: blue;">Sign up</p>
	<form action="/new" method="post" id="new-user">
		<input type="text" name="username" placeholder="Enter your name" />

		<input type="text" name="email" placeholder="Enter your email" />

		<input type="text" name="password" 
		placeholder="Create password" />

		<input type="submit" value="Submit" />
	</form>
</div>
